language: ruby
env:
  - ARUBA_TIMEOUT=240
cache: bundler
rvm:
  - 2.5
  - 2.6
  - 2.7
  - ruby-head
branches:
  only:
    - master
install:
  - "bundle install --retry 3 --jobs 8"
gemfile:
  - gemfiles/rails5.0.gemfile
  - gemfiles/rails5.1.gemfile
  - gemfiles/rails5.2.gemfile
  - gemfiles/rails6.0.gemfile
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
