language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.2
  - jruby-19mode
jdk:
  - openjdk6
branches:
  only:
    - master
install:
  - "travis_retry bundle install"
  - "bundle exec appraisal generate"
  - "travis_retry bundle exec appraisal install"
gemfile:
  - gemfiles/rails3.2.gemfile
  - gemfiles/rails4.0.gemfile
  - gemfiles/rails4.1.gemfile
